/* mobile */
.detail-images{
    width: 300px;
}

.slide-active{
    display: flex;
    justify-content: center;
    margin: 0 auto 0;
    width: 300px;
    height: 200px;
}

@media (min-width:500px){
    .slide-active{
        width: 450px;
        height: 300px;
    }

    .detail-images{
        width: 100%;
    }
}
  /* mobile */
.carousel{
    bottom: 0;
    margin: 50px 0 50px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.left-arrow{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 200px;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow{
    font-size: 50px;
    position: absolute;
    top: 50%;
    right: 200px;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide-active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}